body {
  color: grey;
  background-color: rgba(0,0,0,0.1575)
}
.banner {
  text-align: center;
  text-shadow: 1px 1px black;
}
a:link {
  color: pink;
}
a:visited{
  color: salmon;
}
a:hover {
  color: maroon;
}
.bgd {
  color: black;
  text-align: center;
  text-decoration: underline;
}
.des {
  color: rgba(0,0,0,0.09);
  text-shadow: 1px 1px black;
  text-align: center;
  font-size: 120%;
}
