body {
  color: grey;
  background-color: rgba(0,0,0,0.1575)
}
.banner {
  text-align: center;
  text-shadow: 1px 1px black;
}
a:link {
  color: black;
}
a:visited{
  color: darkblue;
}
a:hover {
  color: blue;
}
.bgd {
  color: black;
  text-align: center;
  text-decoration: underline;
}
.des {
  color: rgba(0,0,0,0.09);
  text-shadow: 1px 1px black;
  text-align: center;
  font-size: 120%;
}
.music {
  color: black;
  text-align: center;
  font-size: 107%;
  text-shadow: 1px 1px white;
}
#jz {
  color: #004d99;
  font-family: cursive;
  font-weight: bold;
}
#rd {
  width: auto;
  height: auto;
  max-width: 500px;
  max-height: 500px;
  min-width: 500px;
  min-height: 500px;
  float: left;
}
#wel {
  width: auto;
  padding: 10px;
  border: 5px solid gray;
  margin: 10px;
}
#lew {
 width: auto;
 padding: 10px;
 border: 5px solid gray;
 margin: 10px;
}
#mf {
  float: right;
  max-width: 500px;
  max-height: 500px;
  min-height: 500px;
  min-width: 500px;
}
.all {
  padding: 20px;
}
